.roll {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: inline-block;
  position: relative;
}
.roll > .item {
  box-sizing: border-box;
  display: block;
  height: 1.5em;
}
.roll > .item:last-child {
  margin-bottom: 0;
}
.roll.active-0 > .item:first-child {
  margin-top: 0em;
}
.roll.active-1 > .item:first-child {
  margin-top: -1.5em;
}
.roll.active-2 > .item:first-child {
  margin-top: -3em;
}
.roll.active-3 > .item:first-child {
  margin-top: -4.5em;
}
.roll.active-4 > .item:first-child {
  margin-top: -6em;
}
.roll.active-5 > .item:first-child {
  margin-top: -7.5em;
}
.roll.active-6 > .item:first-child {
  margin-top: -9em;
}
.roll.active-7 > .item:first-child {
  margin-top: -10.5em;
}
.roll.active-8 > .item:first-child {
  margin-top: -12em;
}
.roll.active-9 > .item:first-child {
  margin-top: -13.5em;
}
.roll.active-10 > .item:first-child {
  margin-top: -15em;
}
.roll3d {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: inline-block;
  position: relative;
  transform-style: preserve-3d;
}
.roll3d > .item {
  box-sizing: border-box;
  display: block;
  height: 1.5em;
}
.roll3d > .item:last-child {
  margin-bottom: 0;
}
.roll3d.active-0 > .item:first-child {
  margin-top: 0em;
}
.roll3d.active-1 > .item:first-child {
  margin-top: -1.5em;
}
.roll3d.active-2 > .item:first-child {
  margin-top: -3em;
}
.roll3d.active-3 > .item:first-child {
  margin-top: -4.5em;
}
.roll3d.active-4 > .item:first-child {
  margin-top: -6em;
}
.roll3d.active-5 > .item:first-child {
  margin-top: -7.5em;
}
.roll3d.active-6 > .item:first-child {
  margin-top: -9em;
}
.roll3d.active-7 > .item:first-child {
  margin-top: -10.5em;
}
.roll3d.active-8 > .item:first-child {
  margin-top: -12em;
}
.roll3d.active-9 > .item:first-child {
  margin-top: -13.5em;
}
.roll3d.active-10 > .item:first-child {
  margin-top: -15em;
}
.roll3d.active-0 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-1 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-2 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-3 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-4 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-5 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-6 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-7 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-8 > .item:first-child {
  margin-top: auto;
}
.roll3d.active-9 > .item:first-child {
  margin-top: auto;
}
.roll3d > .item {
  margin-bottom: -1.5em;
  backface-visibility: hidden;
}
.roll3d > .item:last-child {
  margin-bottom: 0;
}
.roll3d > .item:nth-child(1) {
  transform: rotateX(0deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(2) {
  transform: rotateX(36deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(3) {
  transform: rotateX(72deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(4) {
  transform: rotateX(108deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(5) {
  transform: rotateX(144deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(6) {
  transform: rotateX(180deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(7) {
  transform: rotateX(216deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(8) {
  transform: rotateX(252deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(9) {
  transform: rotateX(288deg) translateZ(2.3082626528814405em);
}
.roll3d > .item:nth-child(10) {
  transform: rotateX(324deg) translateZ(2.3082626528814405em);
}
.roll3d.active-0 {
  transform: rotateX(0deg);
}
.roll3d.active-1 {
  transform: rotateX(-36deg);
}
.roll3d.active-2 {
  transform: rotateX(-72deg);
}
.roll3d.active-3 {
  transform: rotateX(-108deg);
}
.roll3d.active-4 {
  transform: rotateX(-144deg);
}
.roll3d.active-5 {
  transform: rotateX(-180deg);
}
.roll3d.active-6 {
  transform: rotateX(-216deg);
}
.roll3d.active-7 {
  transform: rotateX(-252deg);
}
.roll3d.active-8 {
  transform: rotateX(-288deg);
}
.roll3d.active-9 {
  transform: rotateX(-324deg);
}
